body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Index Page */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.infoContainer {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px #5e5e5ec4;
    border-radius: 0 15px 15px 0;

}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.imgBox {
    display: flex;
    border-radius: 15px 0 0 15px;
    border: solid 2px #5e5e5ec4;
}

.confirmBtn {
    height: 30px;
    background-color: #ff0000a4;
    color: #ffffff;
    border-radius: 8px;
    border: none
}

/* Compare Page */

.welcomeMsg {
    margin: 1em;
}

.hotelDiplayPic {
    border-radius: 10px;
    display: flex;
    padding: 30px;
}



.hotelBox {
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 2px #00000087; 
    border-bottom: solid 2px #00000087; 
}

.HotelContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.bookingBtn {
    background-color: #ff0000a4;
    color: #ffffff;
    height: 25px;
    width: 60px;
    border: none;
    border-radius: 5px;
}

/* Checkout Page */

.checkoutContainer {
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
    background-color: #ff000080;
    padding: 5px;
    margin: 50px;
    
}

.checkoutBtn {
    height: 25px;
    margin: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;

    
}