body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Index Page */

img {
    width: 1000px;
    height: 780px;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.loginForm {
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 350px;
    margin: 150px;
    padding-top: 150px;
}

.userInput {
    margin-top: 5px;
    width: 400px;
    height: 20px;
}

#button1 {
    background-color: #7399c5;
    color: #ffffff;
    border-radius: 4px;
    border: #7399c5;
    margin-left: 150px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

#button2 {
    color: #004ba1;
    background-color: #ffffff;
    border: none;
    margin-top: 20px;
    margin-left: 340px;
    cursor: pointer;
}

/* Booking Page */

.displayBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hotelImages {
    width: 350px;
    height: 250px;
    padding-top: 20px;
    padding-left: 15px;
}

.bookingBox, h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.labelInfo {
    padding-right: 8px;
    padding-left: 8px;
}

#button3 {
    width: 80px;
    margin-left: 15px;
    background-color: #004ba1;
    color: #ffffff;
    border-radius: 5px;
    border: #004ba1;
    cursor: pointer;
}

.imageBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bookingInfo {
    padding: 50px;
    margin-left: 50px;

}

